html {
  font-family: sans-serif;
}
body {
  margin: 0;
}
.a1{

  background:black;
  width: 100%;
  margin-top: 0px;
  
}

.a2{
  padding-top: 0px;
}

.list{
  display:inline;
}
.Contact{

  background: rgb(0, 0, 0);
  width: 100%;
  margin-top: 25px;
}
.links{
  display: inline;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-top: 25px;

}
.footer{
  background-color: rgb(255, 255, 255);
  margin-top: 25px;
}


.links:hover{
  color: blue;
}
.heading:hover{
  color: darkblue;
}

